.articles {
    background-color: #DCDCDC;
}

.newsList {
    height: auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.myMasonryGrid {
    max-width: calc(100% - 20px);
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    
    width:auto;
  }
  .myMasonryGridColumn {
    padding-left: 10px; 
    background-clip: padding-box;
  }

.newsListItem {
    display: block;  
    height: auto;
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 5px solid #DCDCDC;    
}


.newsList h2, p {
    margin-bottom: 10px;
    color:black;
}

.newsList p {
    font-weight: bold;
    font-style: normal;
    color:black;
}

.link {
    display: block;
    margin: 10px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.5px;
    color: red;
    text-decoration: none;
}

.newsList img {
    width: 100%;
    border-radius: 2px;
}

@media screen and (max-width: 425px) {

    .myMasonryGrid {
        max-width: 100%;
    }

    .myMasonryGridColumn {        
        padding-left: 0; 
      }

    .newsListItem {
        margin-right: 0;
    }

    .newsListItem > h2 {
        font-size: 20px;
    }
 }

 @media screen and (max-width: 425px) {
    .newsListItem {
        font-size: 14px;
    }
    
    .newsListItem > h2 {
        font-size: 18px;
    }
 }
