.search {
   padding: 20px 0;   
   background-color: #ffffff;
}

.searchArticle {
   padding: 0 20px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;  
}

.searchTitle {
   display: block;
   background-color: #ffffff;
   padding: 7px 25px;
   border-radius: 5px;
   margin: 0;
}

.searchArticle input {
   padding: 2px 20px;
    width: 60%;
    height: 50px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;    
    font-weight: 600;
    font-size: 24px; 

    color: #000000;
    background-image: url("../../../Images/search.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
}

.searchArticle input::placeholder {
   font-weight: 600;
   font-size: 22px;    
   color: #000000;
}

@media screen and (max-width: 1152px) {
   .searchArticle {
      padding: 0 15px;
   }

   .searchTitle {
      padding: 7px 15px;           
   }

   .searchArticle input {      
       width: 50%;
       background-position: 98% 60%;
   }

   .searchArticle input::placeholder {      
      font-size: 22px; 
   }
}

@media screen and (max-width: 1024px) {
   .searchArticle {
      padding: 0 5px;
   }

   .searchTitle {      
      font-size: 20px;     
   }

   .searchArticle input {
      padding: 0 20px;      
      width: 50%;
      background-position: 95% 60%;
   }

   .searchArticle input::placeholder {      
      font-size: 20px;     
   }
}

@media screen and (max-width: 800px) {
   .searchArticle {
     flex-direction: column;
   }

   .searchTitle {      
      margin-bottom: 15px;    
   }

   .searchArticle input {         
      width: 80%;      
   }
}

@media screen and (max-width: 425px) {
   .searchArticle input::placeholder {      
      visibility: hidden;     
   }
}

@media screen and (max-width: 320px) {
   .searchTitle {      
     font-size: 16px;    
   }
}