.TopNews {
    background-color: #DCDCDC;
}

.TopNews.container {    
    display: flex;
    justify-content: center;
}

.TopNews.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.TopNews ul {
    padding: 10px 0;
    display: flex;    
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.TopNews li {
    display: block;  
    min-width: calc(33% - 35px);
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 5px solid #DCDCDC;
    height: calc(100% - 30px);
    overflow: hidden;
    color:#000000;
    font-size: 16px;
}

.p {
    margin-bottom: 10px;
}

.TopNews p {
    font-weight: bold;
    font-style: normal;
    color: black;
}

.link {
    display: block;
    margin: 10px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.5px;
    color: red;
    text-decoration: none;
}

.image {
    width: 100%;
    border-radius: 2px;
}

@media screen and (max-width: 1152px) {
    .TopNews li {
        min-width: calc(50% - 35px);
    }
}

@media screen and (max-width: 425px) {
    .TopNews li {
        min-width: calc(100% - 35px);
    }

    .TopNews h2 {
        font-size: 18px;
    }
}

