
.header {
   padding: 30px 0;
   background-image: url("../../Images/bl.png");
   background-color: rgba(0, 0, 0, 0.3);
   
}

.wrapper {
   display: flex;
   flex-direction: row;
}

.date {
   width: 40%;
    display: flex;
   align-items: flex-end; 
}

.title {
   width: 60%;
   color: #FFFFFF;
}

.date h3 {
   font-style: normal;
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 1px;
   color:rgb(255, 255, 255);
}

.title h1 {
   font-style: normal;
   font-weight: 600;
   font-size: 46px;   
   letter-spacing: 1px;
   text-align: left;  
   cursor: pointer;
   color:red;
   
}


.title h1 span {  
   font-weight: 600;
   font-size: 32px;
   letter-spacing: 0.5px;
   
}

@media screen and (max-width: 800px) {
   .wrapper {
      flex-direction: column-reverse;
      align-items: center;
   }

   .date {
      width: 100%;
      display: block;
   }

   .date h3 {      
      font-size: 22px;
      text-align: center;
   }

   .title h1 {
      text-align: center;
   }
}

@media screen and (max-width: 375px) {
   .title h1 {
      font-size: 32px;
   }

   .date h3 {      
      font-size: 20px;      
   }
}
