.footer {
   padding: 20px 0;   
   background-color: rgba(0, 0, 0, 0.034);
   background-image: url("../../Images/bl.png");
   color: #fff;
}

.footer h3 {
   font-style: normal;
   
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 1px;
   color:rgb(255, 255, 255);
   text-align: center;
   cursor: pointer;
  
}

.footer__nav__link{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   margin-bottom: 20px;
}
.footer__nav__link a{
   display: flex;
   font-size: 18px;
   font-weight: 600;
   padding-bottom: 10px;
   color: #ffffff;
   padding-left: 5px;
   padding-right: 5px; 
   text-decoration: none;
}
.footer__nav__link a:hover,
.footer__social__tel a:hover,
.footer__contact a:hover {
   color: red;
}
.footer__contact{
   color: #ffffff;  
   cursor: pointer;
}

.footer__contact li {
   list-style: none;
   padding-bottom: 5px;
   font-size: 18px;
   text-decoration: none;
   font-weight: 600;
}
.footer__contact a {
   list-style: none;
   padding-bottom: 5px;
   font-size: 18px;
   text-decoration: none;
   font-weight: 600;
   color: #ffffff;  
   cursor: pointer;
}

@media screen and (max-width: 320px) {
   .footer h3 {
      font-size: 20px;
   }
}

