.contacts {
   padding: 20px 0;   
   background-color:#DCDCDC;
  

}

.form {
	font-weight: bold;
	letter-spacing: 1px;
	width: 100%;
	padding: 20px;
	border-radius: 4px;
	margin: 0 0 ;
	background-color: #ffffff;
   border: 2px solid rgb(0, 0, 0);
   
}


.contacts h2 {
   text-align: center;
   font-size: 28px;
   margin-bottom: 20px;
}

.form fieldset {
   margin-bottom: 20px;
   border-radius: 4px;
   padding: 5px 10px;
}

.form input, textarea {
   padding-left: 5px;
  
   width: 98%;
}

.form input::placeholder,
.form textarea::placeholder{
   font-size: 14px;
}

textarea {  
   height: 70px;
}

.butSend, .butClear {
	margin: 5px;
	width: 100px;
	background-color: rgb(223, 223, 223);
   border-radius: 4px;
   cursor: pointer;
}

.butSend {
   background-color: rgba(231, 182, 182, 0.842);
}

.butSend:hover {
	background-color: rgb(114, 219, 111);
}

.butClear:hover {
	background-color: rgb(216, 108, 94);
}




@media screen and (max-width: 425px) {
   .form {
      width: calc(100% - 14px);
      padding: 20px 5px;
      border: 2px solid #fff;
   }

   .form fieldset {
     padding: 5px;
   }
   

}
