.slider {
   padding: 15px 0;   
   background-color: #FFFFFF;
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: calc(100% - 40px);
   padding: 0 20px;
}

.buttonSliderNext,
.buttonSliderPrev {
    width: 60px;
    height: 40px;
    background-color: #FFFFFF;    
    border-radius: 4px;     
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    
}



.buttonSliderNext {
   border: 1px solid #000000;
   background-image: url("../../../Images/left.png");
   transform: rotate(180deg);   
}

.buttonSliderPrev {
   border: 1px solid #000000;
   background-image: url("../../../Images/left.png");
}

.sliderTitle {
   display: block;
   background-color: #FFFFFF;
   padding: 7px 25px;
   border-radius: 4px;
   color: #000000;
   font-style: normal;
   text-transform: uppercase;
}

@media screen and (max-width: 425px) {
   .wrapper {      
      width: calc(100% - 20px);
      padding: 0 10px;
   }

   .sliderTitle {
      width: 40%;
      font-size: 18px;
      text-align: center;
      padding: 3px 10px;
   }
}

@media screen and (max-width: 320px) {
   .wrapper {      
      width: calc(100% - 10px);
      padding: 0 5px;
   }

   .sliderTitle {      
      font-size: 16px;      
      padding: 3px 5px;
   }
}

