.about {
   padding: 20px 0;   
     
}

.about h2 {
   text-align: center;
   font-size: 32px;
   margin-bottom: 30px;
   
}

.about h3 {
   text-align: center;
   font-size: 24px;
   margin-bottom: 20px; 
}

.about p {
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   margin-bottom: 20px;
   margin-top: 40px;
}



@media screen and (max-width: 799px) {
   .about h3 {
      display:none;
      
   }
   
   
}



